
article.tweet header {
  background-color: #eee;
  padding: 0.25em 0.25em;
  overflow: auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

article.tweet img {
  float: left;
  background-color: #eee;
  padding: 0.2em 0.2em;
  border-radius: 10px;
}

article.tweet header span {
  float: right;
  line-height: 2em;
  color: #b9b9b9;
}

article.tweet header h2 {
  float: left;
  line-height: 2em;
  font-size: 2em;
  margin-bottom: 0.1em;
  margin-top: 0.1em;
  color: #7d878a;
}


article.tweet footer {
  border-top: 1px solid #eee;
  padding: 0.35em 0.35em;
  font-size: 0.9em;
  color: #b9b9b9;
}

article.tweet div {
  font-size: 1.2em;
  padding: 1em 0.4em;
}

article.tweet {
  background-color: white;
  border: 1px solid #c3c3c3;
  border-radius: 10px;
  margin-right: 2em;
  margin-left: 2em;
}

article.tweet .mini-icon {
  float: right;
  display: none;
  color: skyblue;
  padding-right: 0.2em;
  padding-left: 0.2em;
}

article.tweet:hover .mini-icon {
  display: inline;
  font-size: 1em;
}

article.tweet:hover {
  border-color: #244751;
}

article.tweet header :hover {
  color: #244751;
}


/*h2 hover text color #244751*/
/*h2 non hover color #7d878a*/