
.tweet header {
  background-color: #eee;
  padding: 0.25em 0.25em;
  overflow: auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  opacity: 0.65;
}

.tweet .user-avatar {
  float: left;
  background-color: #eee;
  padding: 0.2em 0.2em;
  border-radius: 10px;
}

.tweet header .user-handle {
  float: right;
  color: #a3a3a3;
  margin: 0em 0.4em;
}

.tweet header .user-name {
  float: left;
  /*line-height: 2em;*/
  font-size: 2em;
  color: #29393a;
  margin: 0em 0.2em;
  position: relative;
  bottom: 10px;
  transform: translateY(20px);
}


.tweet footer {
  border-top: 1px solid #eee;
  padding: 0.35em 0.35em;
  font-size: 0.9em;
  color: #b9b9b9;
}

.tweet .content {
  font-size: 1.2em;
  padding: 1em 0.4em;
}

.tweet {
  background-color: white;
  border: 1px solid #c3c3c3;
  border-radius: 10px;
  margin-bottom: 2em;
  margin-right: 2em;
  margin-left: 2em;
}

.tweet .mini-icon {
  float: right;
  display: none;
  color: skyblue;
  padding-right: 0.2em;
  padding-left: 0.2em;
}

.tweet:hover .mini-icon {
  display: inline;
  font-size: 1em;
}

.red {
  color: red;
 }

.tweet:hover {
  border-color: white;
  box-shadow: 1px 1px 10px grey;
}

.tweet .user-avatar:hover {
  border-color: white;
  box-shadow: 1px 1px 6px grey;
}

.tweet:hover header {
  /*color: #244751;*/
  opacity: 1;
}
