#nav-bar {
  position: fixed;
  height: 80px;
  top: 0;
  right: 0;
  bottom: 80px;
  left: 0;
  z-index: 1030;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0px 2em;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
  padding-right: 10px;
}

#nav-bar .header {
  height: 80px;
  float: left;
  line-height: 1.5;
  font-size: 3em;
}

#nav-bar button {
  background-color: white;
  color: #00a087;
  float: right;
  margin: 0.4em 0.7em;
  padding: 1.45em 0.5em;
  border-radius: 7px;
  border: 1px solid black;
  opacity: 0.8;

}

#nav-bar button:hover {
  color: black;
  opacity: 1;
}