#nav-bar {
  position: fixed;
  height: 80px;
  top: 0;
  right: 0;
  bottom: 80px;
  left: 0;
  z-index: 1030;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  /*horizontal, vertical, blurr, color*/
  box-shadow: 0px 1px 10px grey;

}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
  padding-right: 10px;
}

#nav-bar .header {
  height: 80px;
  float: left;
  line-height: 1.5;
  font-size: 3em;
}

#nav-bar button {
  background-color: white;
  color: #00a087;
  height: 80px;
  float: right;
  margin-left: 0.7em;
  padding: 1.45em 0.5em;
  opacity: 0.85;
  border: none;
  font-size: 1.2em;
}

#nav-bar button:hover {
  color: black;
  opacity: 1;
}

#nav-bar .fas.fa-pencil-alt {
  margin-right: 0.5em;
}